# Environments
venv/

# Data
data/TUDataset/AIDS/processed/
data/TUDataset/DD/processed/
data/TUDataset/ENZYMES/processed/
data/TUDataset/MUTAG/processed/
data/TUDataset/NCI1/processed/
data/TUDataset/OHSU/processed/
 
# Src
src/cluster_gin.py
src/graphs_dissimilarity.py
src/node_mapping_assignment.py
src/quick_testing.py
src/to_delete.py
src/train_gcn.py
src/utils.py
src/__pycache__/

# Personal
res/
