# Environments
venv/

# Data
data/TUDataset/AIDS/processed/
data/TUDataset/DD/processed/
data/TUDataset/ENZYMES/processed/
data/TUDataset/MUTAG/processed/
data/TUDataset/NCI1/processed/
data/TUDataset/OHSU/processed/
data/TUDataset/PROTEINS_full/processed/
 
# Scripts
gnn_ged/quick_testing.py
gnn_ged/utils.py
gnn_ged/__pycache__/
gnn_ged/models/__pycache__/

# Tests
tests/__pycache__/

# Personal
res/

# Miscellaneous
gnn_ged.egg-info
