# Environments
venv/

# Data
data/TUDataset/*
 
# Scripts
gnnged/quick_testing.py
gnnged/utils.py
**/__pycache__/

# Tests
tests/__pycache__/

# Personal
.vscode/
res/
src/build/
gnnged/assignment/greedy_assignment*
params.json

# Miscellaneous
*.egg-info
